.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #f4f5f6;
}

.wrapper > .container {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
    max-width: 80rem;
    background: white;
    min-height: 100vh;
}

#list-container {
    width: 75%;
    max-width: 40rem;
    margin: 0 auto;
}

#list-container .row {
    margin: 0.5rem;
    border-bottom: 1px solid #ccc;
}

#list-container .row:last-child {
    border-bottom: none;
}

#list-container .column {
    line-height: 3.8rem;
}

#list-container button {
    width: 100%;
    margin-bottom: 0;
}